header {
	background-color: black;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #c1aa73 !important;
}
header .icons i {
	color: #c1aa73;
	font-size: 20px;
	border: 4px solid #c1aa73;
	border-radius: 50%;
	padding: 5px 7px;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
header .navbar-toggler {
	border-color: rgb(193,170,115) !important;
}
.aciklama p {
	color: #c0c0c0 ;
}
.indirim {
	margin-top: 15px;
}
.yazi h1 {
	font-size: 26px ;
}
.yazi .kutu {
	background-color: #c1aa73 ;
	font-size: 18px;
}
.urun .yazi .indirim {
	margin-top: 80px;
}
.old-price {
	font-size: 24px;
	text-decoration: line-through;
	text-decoration-color: #c1aa73;
	margin-left: 20px;
}
.new-price {
	font-size: 30px;
	margin-left: 130px;
}
.urun .yazi .basket {
	background-color: #c1aa73 ;
	padding: 15px;
	margin-top: 60px;
}
.yazi .basket span {
	font-size: 22px;
}
.urun .yazi .teslimat p {
	margin-top: 40px;
}

.urun .yazi .urun-detay {
	margin-top: 20px;
}
.one-cikanlar {
	margin-top: 80px;
}
.one-cikanlar a {
	text-decoration: none;
	color: black;
}
footer {
	margin-top: 80px;
}
.footer-top a {
	text-decoration: none;
	color: #c1aa73 ;
}
.footer-top .footer-top-first span {
	color: #c1aa73 ;
}
.footer-top .footer-top-first p, .footer-top-second p, .footer-top-third p {
	color: #c1aa73 ;
	font-size: 22px ;
}
.footer-top .footer-top-first i {
	color: #c1aa73 ;
	margin: 0 10px;
}

.footer-top .footer-top-second p , .footer-top-third p {
	padding-top: 50px ;
}
.footer-top .footer-top-second a{
	text-decoration: none ;
	color: #c1aa73 ;
}

@media (max-width: 768px) {
	.aciklama p {
		font-size: 12px;
	}
	.urun .yazi h1 {
		font-size: 16px;
	}
	.urun .yazi .indirim {
		margin-top: 15px;
	}
	.urun .yazi .indirim span {
		font-size: 16px;
	}
	.new-price {
		margin-left: 120px;
	}
	.urun .yazi .basket {
		margin-top: 20px;
		padding: 5px;
	}
	.urun .yazi .basket span {
		font-size: 18px;
	}
	.teslimat, .urun-detay {
		font-size: 14px;
	}
	
}











